button#grocery_btn {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, serif;
    margin: 0 2em 0 0;
    font-size: 12px;

}

p#user_label {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, serif;
    padding: 0 0 0 0;
    margin: 0.5em 0 0 0;
    font-size: 12px;
}