article.full_recipe_card {
    display: block;
    position: relative;
    max-width: 800px;
    border: 1px solid #282c34;
    border-radius: 15px 15px 15px 15px;
    margin: 1em auto 1em auto;
}

.closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #8ca8da;
    background-color: #efefef;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    opacity: 0.7;
    transition-duration: 0.3s;
}

.closeBtn:hover {
    background-color: #70737c;
    transition-duration: 0.3s;
}

img.full_recipe_img {
    border-radius: 15px 15px 0 0;
    width: 100%;
}

div.full_card_summary {
    margin: 0;
    padding: 0;
}

div.full_summary_line p {
    margin: 0;
    padding: 0;
}